.sideBarDiv {
  width: 30%;
  border-radius: 10px;
  margin-top: -5%;
  position: fixed;
}

.sideBarNav {

}

.cardDiv {
  background-color: rgba(245, 245, 245, 0.877);

}

.cardContainer {
  background-color: rgba(245, 245, 245, 0.877);

}

.cardEdit {
  color: darkblue;
  font-weight: bold;
}

.cardEdit:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: rgb(67, 21, 90);
  border-bottom-right-radius: 10px;
}


.cardDelete {
  color: darkblue;
  font-weight: bold;
}

.cardDelete:hover {
 color:  rgba(245, 245, 245, 0.877);
 background-color: rgb(67, 21, 90);
 border-bottom-right-radius: 10px;
}

.sidebarCloseButton:hover {
color: blue;
}

#button_3 {
  visibility: visible;
}

.closeButton {
  visibility: hidden;
}

.markerCard {
  /* background-color: white; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.markerCard:hover {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgba(245, 245, 245, 0.877);
  background-color: rgb(117, 75, 138);
}
/* nav {
  width: 30%
} */