.appTitle {
  font-size: 50px;
  /* margin-top: -90px; */
  letter-spacing: 5px;
  color: rgba(245, 245, 245, 0.877);

}


.nav {
  /* display: flex; */
  /* flex-direction: row-reverse; */

  /* text-align: right; */
  background-color: rgb(6, 104, 143);
  height: 140px;
}

.navRight {
  text-align: right;
  margin-right:65px;
}

.navLeft {
  text-align: left;
}

.navRegister {
  margin-top: 25px;
  margin-right:20px;
  font-weight: bold;
  color: rgba(245, 245, 245, 0.877);
  background-color: #02c1db;
  border-top-color: #02c1db;
  border-bottom-color: #02c1db;
  border-left-color: #02c1db;
  border-right-color: #02c1db;
}

.navRegister:hover {
  font-weight: bold;
  color: rgba(245, 245, 245, 0.877);
  background-color: #00889b;
  border-top-color: #00889b;
  border-bottom-color: #00889b;
  border-left-color: #00889b;
  border-right-color: #00889b;
}

.loginButton {
  font-weight: bold;
  margin-top: 25px;
  margin-right: 20px;
  color: rgba(245, 245, 245, 0.877);
  background-color: #98009b;
  border-top-color: #98009b;
  border-bottom-color: #98009b;
  border-left-color: #98009b;
  border-right-color: #98009b;
}

.loginButton:hover {
  font-weight: bold;
  color: rgba(245, 245, 245, 0.877);
  background-color: #700572;
  border-top-color: #700572;
  border-bottom-color: #700572;
  border-left-color: #700572;
  border-right-color: #700572;
}

.homeLink {
float:left;
  font-weight: bold;
  color: rgba(245, 245, 245, 0.877);
  margin-left:35px;
  margin-top: 60px;
  /* margin-bottom: -20px; */
}

.textboxTitles2 {
  display:flex;
  justify-content: flex-end;
  /* margin-top: 300px; */
  /* justify-content: space-evenly; */
  /* flex-direction: row-reverse */
  /* text-align: right; */
}

.textBoxEmailTitle {
  font-weight: bold;
  color:  rgba(245, 245, 245, 0.877);
margin-right: 104px;
}

.textBoxPassTitle {
  font-weight: bold;
  color:  rgba(245, 245, 245, 0.877);
  margin-right: 72px;
}

.textboxes2 {

  text-align: right;
  margin-right: 20px;

}

.emailTextBox {
margin-right: 20px;
/* margin-bottom: -100px; */
}

.passTextBox {

}

.border {
  border: solid 3px skyblue;
}

/* .noBorder {

} */

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.fakeUserBar {
    background-color: #282c34;
    min-height: 50px;
}

/* =====================================REGISTRATION FORM========================*/

.registrationForm {
  background-color: #282c34;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* float: center; */
}

.formTitle {
  /* display: flex; */
  /* justify-content: center; */
  /* display: flex; */
  /* flex-direction: column; */
}

.formContent {
  display: flex;
  flex-direction: column;
  /* float: center; */
  /* justify-content: center; */
}

.formName {
  color: rgba(245, 245, 245, 0.877);
}

.formLastName {
  color: rgba(245, 245, 245, 0.877);
}

.formEmail {
  color: rgba(245, 245, 245, 0.877);
}

.formPass {
  color: rgba(245, 245, 245, 0.877);
}