.map {
  /* display:flex; */
 /* justify-content: center; */

}

.background {
  background-color: rgba(7, 45, 95, 0.877);
}

.infoWindows {
  color: blue;
  border-radius: 15px;
  background-color: cadetblue;
}

.logOutButtonField {

  float:left;
  margin-top: 10px;
  margin-left: 10px;
}

 .logOutButton {
  font-weight: bold;
  float: left;
  color: rgba(245, 245, 245, 0.877);
  background-color: #c10000;
  border-top-color: #c10000;
  border-bottom-color: #c10000;
  border-left-color: #c10000;
  border-right-color: #c10000;
}

.logOutButton:hover {
  font-weight: bold;
  color: rgba(245, 245, 245, 0.877);
  background-color: #8c0000;
  border-top-color: #8c0000;
  border-bottom-color: #8c0000;
  border-left-color: #8c0000;
  border-right-color: #8c0000;
}

/* animation */
.userBar {
  /* padding: 50px; */
width: 90%;
}

.addButton {
  color: rgba(245, 245, 245, 0.877);
  background-color: #42c5f4;
  border-top-color: #42c5f4;
  border-bottom-color: #42c5f4;
  border-left-color: #42c5f4;
  border-right-color: #42c5f4;
  font-weight: bold;
}
.addButton:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: #2f93b7;
  border-top-color: #2f93b7;
  border-bottom-color: #2f93b7;
  border-left-color: #2f93b7;
  border-right-color: #2f93b7;

}
.favoritesButton {
  color: rgba(245, 245, 245, 0.877);
  background-color: #1ad840;
  border-top-color: #1ad840;
  border-bottom-color: #1ad840;
  border-left-color: #1ad840;
  border-right-color: #1ad840;
  font-weight: bold;
}
.favoritesButton:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: #10a32d;
  border-top-color: #10a32d;
  border-bottom-color: #10a32d;
  border-left-color: #10a32d;
  border-right-color: #10a32d;
}

.trendingButton {
  color: rgba(245, 245, 245, 0.877);
  background-color: #edbe01;
  border-top-color: #edbe01;
  border-bottom-color: #edbe01;
  border-left-color: #edbe01;
  border-right-color: #edbe01;
  font-weight: bold;
}

.trendingButton:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: #b28e00;
  border-top-color: #b28e00;
  border-bottom-color: #b28e00;
  border-left-color: #b28e00;
  border-right-color: #b28e00;
}

/* ==============================INTERACTION BAR START====================== */

.interactionBar {
padding: 30px;
  background-color: #282c34;
}

/* ==============================INTERACTION BAR END========================  */




/* ==================================SELECTION BAR START===================== */
/* animation */
.addBathroomSelectionBar {

  background-color: #282c34;
  /* margin-top: -4px; */
  /* margin-bottom: -16px; */
}

/* .closeButtonIcon {
  background-image:
} */


/* ==================================SELECTION BAR END===================== */




/* ===============================SEARCH LOCATION DIV======================= */
.searchLocationBox {
  /* margin-top: -130px; */
  background-color: #282c34;
min-height: 100px;
}

.searchWindowTitle {
  margin-top: 30px;
  margin-bottom: 7px;
  margin-left: 250px;
  font-size: 25px;
  letter-spacing: 3px;
  color: rgba(245, 245, 245, 0.877);
}

.searchTextBoxes {
  display: flex;
  float:left;
  flex-direction: column;
  margin-top: -6px;
  margin-left: 320px;
}

.searchCheckBoxes {
  display: flex;
  float:left;
  flex-direction: column;
  margin-top: -5px;
  margin-left: 25px;
}

.currentNameLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
  margin-right: 10px;
}

.locationLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
  margin-left: 10px;
  margin-right: 10px;
}

.babyStationCheckLabel {
  font-size: 10px;
color: rgba(245, 245, 245, 0.877);

}

#babyStationCheck {
  margin-right: 20px;
}

.handiAccessCheckLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}

#handiAccessCheck {

}

.currentNameTextbox {

}

#currentName {
  font-size: 20px;
  height: 10px;
}

.locationTextbox {


}

#location {
  height: 10px;
}

.markItButton {
  margin-top: 8px;
  margin-right: 232px;
  margin-bottom: 43px;
}

.searchBackButton {
  float: left;
  margin-top: 34px;
  margin-left: 200px;
  margin-right: -350px;
}

.searchSwitchModeBtn {
float: right;
margin-top: 20px;
margin-right: 70px;
}
/* ===============================SEARCH LOCATION DIV END======================= */

/* ===================================CURRENT LOCATION DIV START==================== */

.currentLocationBoxes {
/* margin-top: -118px; */
background-color: #282c34;
min-height: 100px;
}

.currLocBackBtn {
/* float: left; */
margin-top: 35px;
/* margin-left: 200px; */
/* margin-right: -350px; */
}

.currLocTitle {
font-size: 25px;
letter-spacing: 3px;
color: rgba(245, 245, 245, 0.877);
margin-left: 200px;
}

.currLocTextBoxes {
display: flex;
float: left;
flex-direction: column;
margin-left: 320px;
}

.currLocNameLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
  margin-top: -15px;
  margin-right: 10px;
}

.currLocName {
 height: 10px;
}

.currLocationNameLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
}

.currLocationName {
  height: 10px;
}

.currCheckBoxes {
display: flex;
float: left;
flex-direction: column;
margin-top: -14px;
margin-left: 25px;
}

.currBabyStationCheckLabel {
  font-size: 10px;
color: rgba(245, 245, 245, 0.877);
}

.currBabyStationCheck {

}

.currHandiAccessCheckLabel {
  font-size: 10px;
color: rgba(245, 245, 245, 0.877);
}

.currHandiAccessCheck {

}

.currMarkIt {
  margin-top: -3px;
/* margin-bottom: -11px; */
}

.currMarkItButton {
  margin-top: -20px;
  margin-right: 422px;
  margin-bottom: 43px;
}

.currSwitchModeBtn {
  float: right;
  margin-top: 20px;
  margin-right: 70px;

}
/* ===================================CURRENT LOCATION DIV END====================  */


/* ======================================EDIT MARKER BOX START============================ */

.editDiv {
margin-top: -140px;

}

.editBackBtn {
float: left;
margin-top: 30px;
margin-left: 360px;
}

.editTitle {
  font-size: 25px;
letter-spacing: 3px;
  color: rgba(245, 245, 245, 0.877);
  margin-top: 40px;
  margin-right: 380px;
}

.editBoxesDiv {
display: flex;
flex-direction: column;
float: left;
margin-left: 30px;
margin-top: -15px;
}

.editNameLabel{
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
}

.editNameBox {
  height: 10px;
}

.editLocationLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);

}

.editLocationBox {
  height: 10px;
}


.editCheckDiv {
display:flex;
flex-direction: column;
float: left;
margin-top: -15px;
margin-left: 25px;
}

.editBabyCheckLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}

.editBabyStation {

}

.editHandiAccessLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}

.editHandiAccess {

}

.editSubmitBtn {
margin-bottom: 43px;
margin-right: 350px;
}