.map {
  /* display:flex; */
 /* justify-content: center; */

}



button {
  outline: none;
  border: none;
}

.iconStyle {
  margin-top: -6px;
}

.background {
  background-color: rgba(7, 45, 95, 0.877);
}

.infoWindows {
  color: blue;
  border-radius: 15px;
  background-color: cadetblue;
}

.logOutButtonField {

  float:left;
  margin-top: 10px;
  margin-left: 10px;
}

 .logOutButton {
  font-weight: bold;
  float: left;
  color: rgba(245, 245, 245, 0.877);
  background-color: #c10000;
  border-top-color: #c10000;
  border-bottom-color: #c10000;
  border-left-color: #c10000;
  border-right-color: #c10000;
}

.logOutButton:hover {
  font-weight: bold;
  color: rgba(245, 245, 245, 0.877);
  background-color: #8c0000;
  border-top-color: #8c0000;
  border-bottom-color: #8c0000;
  border-left-color: #8c0000;
  border-right-color: #8c0000;
}

/* animation */
.userBar {
  width: 90%;
}

.addButton {
  color: rgba(245, 245, 245, 0.877);
  background-color: #42c5f4;
  border-top-color: #42c5f4;
  border-bottom-color: #42c5f4;
  border-left-color: #42c5f4;
  border-right-color: #42c5f4;
  font-weight: bold;
}
.addButton:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: #2f93b7;
  border-top-color: #2f93b7;
  border-bottom-color: #2f93b7;
  border-left-color: #2f93b7;
  border-right-color: #2f93b7;

}
.favoritesButton {
  color: rgba(245, 245, 245, 0.877);
  background-color: #1ad840;
  border-top-color: #1ad840;
  border-bottom-color: #1ad840;
  border-left-color: #1ad840;
  border-right-color: #1ad840;
  font-weight: bold;
}
.favoritesButton:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: #10a32d;
  border-top-color: #10a32d;
  border-bottom-color: #10a32d;
  border-left-color: #10a32d;
  border-right-color: #10a32d;
}

.trendingButton {
  color: rgba(245, 245, 245, 0.877);
  background-color: #edbe01;
  border-top-color: #edbe01;
  border-bottom-color: #edbe01;
  border-left-color: #edbe01;
  border-right-color: #edbe01;
  font-weight: bold;
}

.trendingButton:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: #b28e00;
  border-top-color: #b28e00;
  border-bottom-color: #b28e00;
  border-left-color: #b28e00;
  border-right-color: #b28e00;
}

.myMarkerButton {
  color: rgba(245, 245, 245, 0.877);
  background-color: darkorchid;
  border-top-color: darkorchid;
  border-bottom-color: darkorchid;
  border-left-color: darkorchid;
  border-right-color: darkorchid;
}

.myMarkerButton:hover {
  color: rgba(245, 245, 245, 0.877);
  background-color: rgb(114, 37, 153);
  border-top-color: rgb(114, 37, 153);
  border-bottom-color: rgb(114, 37, 153);
  border-left-color: rgb(114, 37, 153);
  border-right-color: rgb(114, 37, 153);
}

/* ==============================INTERACTION BAR START====================== */

.interactionBar {
padding: 30px;
  background-color: #282c34;
}

/* ==============================INTERACTION BAR END========================  */




/* ==================================SELECTION BAR START===================== */
/* animation */
.addBathroomSelectionBar {
  background-color: #282c34;
}

.ratingDiv {
  margin-left: 10%;
}

/* ==================================SELECTION BAR END===================== */




/*===============================SEARCH LOCATION DIV=======================*/
.searchLocationBox {
  background-color: #282c34;
  border: solid 3px grey;
  height: 47%;
  border-radius: 15px;
}

.searchWindowTitle {
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  color: rgba(245, 245, 245, 0.877);
}

.locationTextBoxes {
  display: flex;
  flex-direction: column;
  width: 30%;
}


.locationLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
  }

  .locationTextbox {
  width: 80%;
  }


/* search check */
.locationBabyCheckField {
  margin-top: -7px;
  margin-bottom: 7px;
}

.locationHandiAccessCheckField {

}

.babyStationCheckLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}

.handiAccessCheckLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}

.searchMarkItButton{
  display: flex;
  justify-content: center;
  margin-top: 9%;
  padding: 10px;
}

.markItButton {
 border-radius: 15px;
}

.searchBackButton {
  color: antiquewhite;
  background-color: cadetblue;
  border-top-color: cadetblue;
  border-bottom-color: cadetblue;
  border-left-color: cadetblue;
  border-right-color: cadetblue;
}

.searchBackButton:hover {
  color: antiquewhite;
  background-color: #426e70;
  border-top-color: #426e70;
  border-bottom-color: #426e70;
  border-left-color: #426e70;
  border-right-color: #426e70;
 }

.searchSwitchModeBtn {
  float: right;
}
/* ===============================SEARCH LOCATION DIV END======================= */

/* ===================================CURRENT LOCATION DIV START==================== */

.currentLocationBoxes {
  background-color: #282c34;
  border: solid 3px grey;
  height: 47%;
  border-radius: 15px;
}

.currLocBackBtn {
  color: antiquewhite;
  background-color: cadetblue;
  border-top-color: cadetblue;
  border-bottom-color: cadetblue;
  border-left-color: cadetblue;
  border-right-color: cadetblue;
}

.currLocBackBtn:hover {
  color: antiquewhite;
  background-color: #426e70;
  border-top-color: #426e70;
  border-bottom-color: #426e70;
  border-left-color: #426e70;
  border-right-color: #426e70;
}

.currLocTitle {
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  color: rgba(245, 245, 245, 0.877);
}

.boxSeparator {
  display: flex;
  margin-top: 30px;
  margin-left: 25%;
}

.currLocTextBoxes {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.currLocNameLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
}

.currLocName {
  width: 80%;
}

/* CHECK BOXES */
.checkSeparator {
  display: flex;
  flex-direction: column;
}

.currBabyCheckField {
  margin-top: -7px;
  margin-bottom: 7px;
}

.currHandiAccessCheckField {

}

.currBabyStationCheckLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}


.currHandiAccessCheckLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}
/* CHECK BOXES END */

.extraInfoFieldDiv {
  margin-left: 25%;
}

.amalgamator {
  display:flex;
}

.extraInfoDropDown {
  margin-top: 6.1%;
  color: rgba(245, 245, 245, 0.877);
  border-top-left-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 95px;
  height: 24px;
  background-color: #426e70;
  border-top-color: #426e70;
  border-bottom-color: #426e70;
  border-left-color: #426e70;
  border-right-color: #426e70;

  /* TO BLEND IN */
  /* background-color: #282c34;
  border-top-color: #282c34;
  border-bottom-color: #282c34;
  border-left-color: #282c34;
  border-right-color: #282c34; */
}

.extraInfoDropDown:hover {
  color: rgba(192, 192, 192, 0.877);
  width: 95px;
  height: 24px;
  border-bottom: #426e70;
  background-color: #426e70;
  border-top-color: #426e70;
  border-bottom-color: #426e70;
  border-left-color: #426e70;
  border-right-color: #426e70;

  /* TO BLEND IN */
  /* background-color: #282c34;
  border-top-color: #282c34;
  border-bottom-color: #282c34;
  border-left-color: #282c34;
  border-right-color: #282c34; */
}

.extraInfoDropDown_2 {
  margin-top: 6.1%;
  color: rgba(245, 245, 245, 0.877);
  border-top-left-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 95px;
  height: 24px;
  background-color: #426e70;
  border-top-color: #426e70;
  border-bottom-color: #426e70;
  border-left-color: #426e70;
  border-right-color: #426e70;
}

.extraInfoDropDown_2:hover {
  color: rgba(192, 192, 192, 0.877);
  width: 95px;
  height: 24px;
  border-bottom: #426e70;
  background-color: #426e70;
  border-top-color: #426e70;
  border-bottom-color: #426e70;
  border-left-color: #426e70;
  border-right-color: #426e70;
}

.extraInfoDropDown:active {
  outline: none;
  border: none;
}

.extraInfoDropDown:focus {
  outline: none;
  border: none;
}

.extraInfoWords {
  margin-top: -10px;
  padding: 1px;
}

.extraInfoWords:hover {
  margin-top: -10px;
  padding: 1px;
}

.extraInfoDiv {
  background-color: #426e70;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 50%;
  padding: 2px;
  margin-bottom: -5.8%;
}

.extraInfoDiv_2 {
  background-color: #426e70;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 50%;
  padding: 2px;
  margin-bottom: -10.9%;
}

.extraInfoLabel {
  color: rgba(245, 245, 245, 0.877);
  /* padding: 2px; */
}

.currLocationNameLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
}

.currMarkItButton{
  display: flex;
  justify-content: center;
  margin-top: 9%;
  padding: 10px;
}

.currSwitchModeBtn {
  float: right;
}
/* ===================================CURRENT LOCATION DIV END====================  */


/* ======================================EDIT MARKER BOX START============================ */

.editDiv {
  background-color: #282c34;
  border: solid 3px grey;
  height: 62%;
  border-radius: 15px;
}

.editTitle {
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  color: rgba(245, 245, 245, 0.877);
}

.mockMarker {
  margin-top: 15px;
  border-radius: 10px;
  background-color:   rgba(245, 245, 245, 0.877);
  margin-left: 30%;
  margin-right: 30%;
}

.mockMarkerName {
  display: flex;
  justify-content: center;
}

.mockMarkerAddress {
  display: flex;
  justify-content: center;
}

.mockMarkerBabyCheck {
  display: flex;
  justify-content: center;
}

.mockMarkerHandiCheck {
  display: flex;
  justify-content: center;
}

.mockMarkerRating {
  display: flex;
  justify-content: center;
}

.mockButtons {
  display:flex;
  justify-content: center;
}

.editBoxesDiv {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.editNameLabel{
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
}

.editNameBox {
  width: 80%;
}

.editLocationLabel {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);

}

.editLocationBox {
  width: 80%;
}


.editBabyCheckField {
  margin-top: -7px;
  margin-bottom: 7px;
}

.editBabyCheckLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}

.editBabyStation {

}

.editHandiAccessCheckField {

}

.editHandiAccessLabel {
  font-size: 10px;
  color: rgba(245, 245, 245, 0.877);
}

.editHandiAccess {

}

.editRatingTitle {
  margin-top: 5px;
  font-size: 12px;
  color: rgba(245, 245, 245, 0.877);
}

.editBackBtn {
  color: rgba(245, 245, 245, 0.877);
  background-color: cadetblue;
  border-top-color: cadetblue;
  border-bottom-color: cadetblue;
  border-left-color: cadetblue;
  border-right-color: cadetblue;
}

.editBackBtn:hover {
  /* border-top-left-radius: 15px; */
  color: rgba(245, 245, 245, 0.877);
  background-color: #426e70;
  border-top-color: #426e70;
  border-bottom-color: #426e70;
  border-left-color: #426e70;
  border-right-color: #426e70;
}

.editSubmitBtnDiv {
  display: flex;
  justify-content: center;
  /* margin-top: 8%; */
  padding: 10px;
}

/* ========================================INFO WINDOW============================================ */

.infoWindowDiv {

}


.infoWindowName {

}

.infoWindowAddress {

}

.infoWindowBaby {

}

.infoWindowHandi {

}

.infoWindowRatingLabel {


}

/* ===========================================INFO WINDOW BUTTONS=======================================*/

.infoWindowEditButton {

}

.infoWindowDeleteButton {


}

/* ==============================================DELETE WARNING MESSAGE====================================== */

.deleteWarningMessageDiv {
  background-color: #282c34;
  border: solid 3px grey;
  height: 41%;
  border-radius: 15px;

}

.deleteWarningMessageTitle {
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  color: rgba(245, 245, 245, 0.877);
  margin-top: 40px;
}

.deleteWarningMessageButtonDiv {
display: flex;
justify-content: center;
margin-top: 10%;
display:flex;
justify-content: space-evenly;
}

